<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-2"> Login do Cliente</h1>
    <label for="inputEmail" class="sr-only"> E-mail </label>
    <input type="email" name="email" id="inputEmail" placeholder="Informe o seu E-mail" class="form-control mb-2" />
    <label for="inputPassword" class="sr-only"> E-mail </label>
    <input type="password" name="password" id="inputPassword" placeholder="Senha" class="form-control mb-2" />
    <button class="btn btn-primary btn-block" type="submit"> Logar </button>
  </form>
</div>
